body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffeeff
}


h1, h2 {
    color: #333;
    font-style: italic;
}

.round-image {   
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
}

 .header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    margin-left: 40px; /* Lisää marginaali kuvan ja otsikon väliin */
    font-size: 50px;
}

label {
    width: 70%;
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 70%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #7b0b85;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #7b0b85;
}


#summary-table {
    width: 70%;
    padding: 10px;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #effbff;
}

#summary-table th, #summary-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#summary-table th {
    background-color: #f2f2f2;
}

#error-message {
    color: red;
    margin-top: 10px;
}